<!-- views/admin.ejs -->

<!DOCTYPE html>
<html>

<head>
  <title>Admin Approval Page</title>
  <link rel="stylesheet" href="/css/admin_verif_style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
</head>

<body style=" background-color: #f6f1f1;">


  <div class="logo-div">
    <a href="/"><img style="margin-left: 20px;width: 186px;" src="images/Medicare.png" alt="" /></a>
    <h1>Registration Requests</h1>
    <a href="/hospital" id="home-link">BACK</a>
  </div>



  <label for="registrationType">Registration Type:</label>
  <select id="registrationType" name="registrationType" style="padding: 7px;font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
    <option value="all" name="all">All</option>
    <option value="doctors">Doctors</option>
    <option value="hospitals">Hospitals</option>
    <option value="pharmacies">Pharmacies</option>
  </select>

   <label class="statusType" for="status">Status:</label>
  <select id="statusType" name="statusType" style="padding: 7px;font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
    <option value="all" name="all">All</option>
    <option value="statuspending" name="pending">Pending</option>
    <option value="Approved">Approved</option>
    <option value="Rejected">Rejected</option>
  </select>





  <table>
    <tr style="text-align: center;">
      <th>S.No</th>
      <th>ID</th>
      <th>Type</th>
      <th>Name</th>
      <th>Approve</th>
      <th>Reject</th>
    </tr>
    <% let count = 1; %>

        


    <% RegistrationHospitals.forEach(registration=> { %>
      
    <tr class="hosp">
      <td style="text-align: center;"><%= count %></td>
      <td style="text-align: center;"><%= registration._id %></td>
      <td style="text-align: center;"><%= registration.registrationType %></td>
      <td style="text-align: center;"><%= registration.name %></td>


      <td>
        <% if (registration.approved === "true") { %>
        <button id="approved" type="submit" class="btn btn-outline-success">Approved</button>
        <% } else { %>
        <form action="/approve" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
          <button id="approve" type="submit" class="btn btn-outline-success">Approve</button>
        </form>
        <% } %>
      </td>



      <td>
        <% if (registration.approved === "false") { %>
        <button id="rejected" type="submit" class="btn btn-outline-danger">Rejected</button>
        <% } else { %>
        <form action="/reject" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
          <button id="reject" type="submit" class="btn btn-outline-danger">Reject</button>
        </form>
        <% } %>
      </td>



    </tr>
    <% count++ ;%>
    <% }) %>



    <% RegistrationPharmacies.forEach(registration=> { %>
    <tr class="pharm">
      <td style="text-align: center;"><%= count %></td>
      <td style="text-align: center;"><%= registration._id %></td>
       <td style="text-align: center;"><%= registration.registrationType %></td>
      <td style="text-align: center;"><%= registration.name
                              %></td>


      <td>
        <% if (registration.approved === "true") { %>
        <button id="approved" type="submit" class="btn btn-outline-success">Approved</button>
        <% } else { %>
        <form action="/approve" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
          <button id="approve" type="submit" class="btn btn-outline-success">Approve</button>
        </form>
        <% } %>
      </td>


      <td>
        <% if (registration.approved === "false") { %>
        <button id="rejected" type="submit" class="btn btn-outline-danger">Rejected</button>
        <% } else { %>
        <form action="/reject" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
          <button id="reject" type="submit" class="btn btn-outline-danger">Reject</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% count++;%>
    <% }) %>


  <% RegistrationDoctors.forEach(registration=> { %>
    <tr class="doc">
      <td style="text-align: center;"><%= count %></td>
      <td style="text-align: center;"><%= registration._id %></td>
          <td style="text-align: center;"><%= registration.registrationType %></td>
      <td style="text-align: center;"><%= registration.name
                              %></td>


      <td>
        <% if (registration.approved === "true") { %>
        <button id="approved" type="submit" class="btn btn-outline-success">Approved</button>
        <% } else { %>
        <form action="/approve" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
          <button id="approve" type="submit" class="btn btn-outline-success">Approve</button>
        </form>
        <% } %>
      </td>


      <td>
        <% if (registration.approved === "false") { %>
        <button id="rejected" type="submit" class="btn btn-outline-danger">Rejected</button>
        <% } else { %>
        <form action="/reject" method="POST">
          <input type="hidden" name="id" value="<%= registration._id %>">
       
          <button id="reject" type="submit" class="btn btn-outline-danger">Reject</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% count++;%>
    <% }) %>



  </table>
<script src="/js/admin_verification.js"></script>
</body>

</html>