
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
   
    <link rel="stylesheet" href="/css/dash.css" />
</head>
<body>
    <div class="container">
        <header class="header">
            <diV><h1>DASHBOARD</h1></diV>
            <nav><a href="/admin_announcements" target="_blank">Post Announcements</a></nav>
            <nav><a href="/">HOME</a></nav>

        </header>
        <section class="data-boxes">
            <diV class="box">
                <div class="box-h2"><h2>ADMINS</h2></div>
                <div class="box-p"><P><%= count_details.admin_count %></P></div>
            </diV>
            <diV class="box">
                <div class="box-h2"><h2>DOCTORS</h2></div>
                <div class="box-p"><P><%=count_details.doctorscount%></P></div>
            </diV>
            <diV class="box">
                <div class="box-h2"><h2>PATIENTS</h2></div>
                <div class="box-p"><P><%=count_details.patient_count%></P></div>
            </diV>     
        </section>
        <section class="data-circle">
            <diV class="circle circle-1">
                <div class="circle-h2"><diV><h2>HOSPITALS</h2></diV></div>
               <div class="circle-p"><div><P><%=count_details.hospitalscount%></P></div></div>
            </diV>
            <diV class="circle circle-2">
                <div class="circle-h2"><h2>PHARMACIES</h2></div>
                <div class="circle-p"><P><%=count_details.pharmaciescount%></P></div>
            </diV>
        </section>
        <section class="applications">
            <div class="pend-h2"><h2>PENDING APPLICATIONS</h2></div>
           <div class="count"><%= count_details.pendingdoct + count_details.pendinghosp + count_details.pendingpharm %></div>
            <div class="pend-2">
            
            <div class="app doc_app">
                <div class="total-pending-h2"><h2>DOCTORS</h2></div>
                <div class="total-pending-p"><P><%=count_details. pendingdoct%></P></div>
              
            </div>
            <div class="app hos_app">
                <div class="total-pending-h2"><h2>HOSPITALS</h2></div>
              <div class="total-pending-p"><P><%=count_details. pendinghosp %></P></div>
              
            </div>
            <div class="app phar_app">
                <div class="total-pending-h2"><h2>PHARMACIES</h2></div>
             <div class="total-pending-p"><P><%=count_details. pendingpharm%></P></div>
              
            </div>

        </div>

        </section>
        <section class="list-all">
            <div class="lis list-users"><a href="up_role_1" target="_blank">Update Role</a></div>
            <div class="lis list-doctors"><a href="./admin_verification" target="_blank">See All Requests</a></div>

        </section>
        
    </div>
    
</body>
</html>