<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/doc_home.css">
    <script src="./js/doc_home.js" defer></script>

    <title>Document</title>
</head>

<body data-doctor-details='<%- JSON.stringify(doctor) %>'>

    <div class="nav">
        <a href="/"><img src="./images/Medicare.png" alt=""></a>
    </div>
    <div class="sidebar">
        <a class="active" href="#home" onclick="showhome()">Home</a>
        <a href="#newappoint" onclick="shownewappoint()">New Appointments</a>
        <a href="#pastappoint" onclick="showpastappoint()">Accepted
            Appointments</a>
        <a href="#profile" onclick="showprofile()">Profile</a>
    </div>

    <div class="content">
        <div id="home">
            <h1>Welcome Doctor <%= doctor.name %>
            </h1>
            <div class="grid">
                <% if(doctor.approved==='true' ) { %>
                    <div class="grid-items" style="background-color: green;">
                        <p style="color: white;font-weight: bold;">Approved</p>
                        <p style="color: white;font-size: 1rem;margin-top: 1rem;">You are an Approved Doctor</p>
                    </div>
                    <% }else{ %>
                        <div class="grid-items" style="background-color: red;">
                            <p>Un Approved</p>
                            <p style="font-size:
                                                15px;margin-top: 0.25rem;">You
                                are Yet to be get an
                                Approval from the
                                admin</p>
                        </div>
                        <% } %>
                            <div class="grid-items">
                                <p>Appointments Pending</p>
                                <h1 id="over">

                                </h1>
                            </div>
                            <div class="grid-items">
                                <p>New Appointments</p>
                                <h1 id="accepted">

                                </h1>
                            </div>
                            <div class="grid-items">
                                <p>Accepted Appointments</p>
                                <h1 id="unaccepted">
                                </h1>
                            </div>
            </div>
        </div>
        <div id="newappoint" style="display: none;">
            <h1>New Appointments</h1>
            <% if (appointments && appointments.length !==0) { %>
                <% appointments.forEach((appoint)=> { %>
                    <% if (appoint.acceptappointment===false) { %>
                        <div class="appoint">
                            <p>Patient Name: <%= appoint.patientname %>
                            </p>
                            <p>Patient Gender: <%= appoint.patientgender %>
                            </p>
                            <p>Patient Age: <%= appoint.patientage %>
                            </p>
                            <p>Patient Problem: <%= appoint.patientproblem %>
                            </p>
                            <p>Appointment Date: <%= appoint.appointdate %>
                            </p>
                            <p>Appointment Time: <%= appoint.appointtime %>
                            </p>
                            <form class="appoint-form" action="/doc_home" method="POST">
                                <input type="hidden" name="accept" value="accept">
                                <input type="hidden" name="doctorId" value="<%= doctor._id %>">
                                <input type="hidden" name="appointmentId" value="<%= appoint._id %>">
                                <button type="submit">Accept</button>
                            </form>

                            <form class="appoint-form" action="/doc_home" method="POST">
                                <input type="hidden" name="reject" value="reject">
                                <input type="hidden" name="doctorId" value="<%= doctor._id %>">
                                <input type="hidden" name="appointmentId" value="<%= appoint._id %>">
                                <button type="submit">Reject</button>
                            </form>
                        </div>
                        <% } %>
                            <% }); %>
                                <% } else { %>
                                    <p>No new appointments.</p>
                                    <% } %>
        </div>
        <div id="pastappoint" style="display:
        none;">
            <h1>Accepted
                Appointments</h1>
            <% appointments.forEach((appoint)=>{
                %>
                <% if(appoint.acceptappointment===true){ %>
                    <div class="appoint">
                        <p>
                            Patient
                            Name:<%=appoint.patientname%>
                        </p>
                        <p>
                            Patient
                            Gender:
                            <%=appoint.patientgender%>
                        </p>
                        <p>
                            Patient
                            Age:
                            <%=appoint.patientage%>
                        </p>
                        <p>
                            Patient
                            Problem:
                            <%=appoint.patientproblem%>
                        </p>
                        <p>
                            Appointment
                            Date:
                            <%=appoint.appointdate %>
                        </p>
                        <p>
                            Appointment
                            Time:
                            <%=appoint.appointtime %>
                        </p>
                    </div>
                    <%}%>
                        <% }) %>
        </div>
        <div id="profile"
            style="display:
                                                                                                                                    none;">
            <h1>Your
                Details</h1>
            <table>
                <tr>
                    <td class="seperator">Name</td>
                    <td>
                        <%= doctor.name %>
                    </td>
                </tr>
                <tr>
                    <td class="seperator">Gender</td>
                    <td>
                        <%= doctor.gender %>
                    </td>
                </tr>
                <tr>
                    <td class="seperator">Specialization</td>
                    <td>
                        <%= doctor.specialization %>
                    </td>
                </tr>
                <tr>
                    <td class="seperator">Qualification</td>
                    <td>
                        <%= doctor.qualification %>
                    </td>
                </tr>
                <tr>
                    <td class="seperator">Registered Email</td>
                    <td>
                        <%= doctor.email %>
                    </td>
                </tr>
            </table>
            <button onclick="displayform()">Update
                Profile</button>
            <form action='/doc_home' id="update-form" method="post">
                <input type="hidden" name="id" value="<%= doctor._id %>">
                <div class="d-flex">
                    <label for="Doc_name" class="w-100">
                        <input type="text" id="Doc_name"
                            value="<%=
                                                                                                                                                                        doctor.name
                                                                                                                                                                        %>"
                            placeholder="Name" name="docname" onkeyup="validateName()">
                        <span id="error-name"></span>
                    </label>
                    <label for="Doc_gender">
                        <select name="gender" id="Doc_gender" required>
                            <option
                                value="<%=
                                                                                                                                                                            doctor.gender
                                                                                                                                                                            %>"
                                selected>
                                <%= doctor.gender %>
                            </option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>
                    <label for="Doc_spec">
                        <select name="specialization" id="Doc_spec" required>
                            <option
                                value="<%=
                                                                                                                                                                                doctor.specialization                                                                                                                                            %>"
                                selected>
                                <%= doctor.specialization %>
                            </option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option
                                value="Internal
                                                                                                                                                                                    Medicine">
                                Internal
                                Medicine</option>
                            <option
                                value="Obstetrics
                                                                                                                                                                                    and
                                                                                                                                                                                    Gynecology">
                                Obstetrics
                                and
                                Gynecology</option>
                            <option value="Dermatology">Dermatology</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Radiology">Radiology</option>
                            <option
                                value="General
                                                                                                                                                                                    Surgery">
                                General
                                Surgery</option>
                            <option value="Ophthalmology">Ophthalmology</option>
                            <option
                                value="Family
                                                                                                                                                                                    Medicine">
                                Family
                                Medicine</option>
                            <option
                                value="Chest
                                                                                                                                                                                    Medicine">
                                Chest
                                Medicine</option>
                            <option value="Anesthesia">Anesthesia</option>
                            <option value="Pathology">Pathology</option>
                            <option value="ENT">ENT</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>
                    <label for="Doc_Qual">
                        <select name="Qualification" id="Doc_Qual" required>
                            <option
                                value="<%=
                                                                                                                                                                                    doctor.qualification
                                                                                                                                                                                    %>">
                                <%= doctor.qualification %>
                            </option>
                            <option value="RMP">RMP</option>
                            <option value="MBBS">MBBS</option>
                            <option value="MS">MS</option>
                            <option value="MD">MD</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>
                    <label for="doc_email">
                        <input type="email" name="docemail"
                            value="<%=
                                                                                                                                                                                    doctor.email
                                                                                                                                                                                    %>"
                            id="Doc_email" placeholder="email" onkeyup="validateEmail()" readonly>
                        <span id="error-email"></span>
                    </label>
                    <label for="doc_password">
                        <input type="password" name="docpass" id="Doc_password" placeholder="password"
                            onkeyup="validatePassword()">
                        <span id="error-pass"></span>
                    </label>
                    <label for="cnf_password">
                        <input type="password" id="Cnf_password" placeholder="confirm password"
                            onkeyup="validateCnfPassword()">
                        <span id="error-cnfpass"></span>
                    </label>
                    <button type="submit"
                        class="mt-4
                                                                                                                                                                                px-4
                                                                                                                                                                                py-2
                                                                                                                                                                                text-light
                                                                                                                                                                                rounded"
                        id="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>