<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/doc_home.css">
  <script src="./js/doc_home.js" defer></script>

  <title>Document</title>
</head>

<body>

  <div class="nav">
    <a href=""><img src="./images/Medicare.png" alt=""></a>
  </div>
  <div class="sidebar">
    <a class="active" href="#home" onclick="showhome()">Home</a>
    <a href="#newappoint" onclick="shownewappoint()">New Appointments</a>
    <a href="#pastappoint" onclick="showpastappoint()">Accepted
      Appointments</a>
    <a href="#profile" onclick="showprofile()">Profile</a>
  </div>
  <!-- 

    <div id="home">
        <h1>Welcome Doctor <%= doctor.name %></h1>
    </div>
    <div class="content" id="content">
        <h2>Home</h2>
        <p>Welcome to my website!</p>
    </div> -->
  <!-- -->

  <div class="content">
    <div id="home">
      <h1>Welcome Doctor <%= doctor.name %>
      </h1>
      <div class="grid">
        <div class="grid-items">
          <p>Appointments Pending</p>
          <h1>
            <%= pending %>
          </h1>
        </div>
        <div class="grid-items">
          <p>Past Appointments</p>
          <h1>
            <%= over %>
          </h1>
        </div>
        <div class="grid-items">
          <p>Unaccepted Appointments</p>
          <h1>
            <%= unaccepted %>
          </h1>
        </div>
        <div class="grid-items">
          <% if(doctor.approved) { %>
          <p>Approved</p>
          <% }else{ %>
          <p>Un Approved</p>
          <p style="font-size:
                                                    15px;margin-top: 0.25rem;">You
            are Yet to be get an
            Approval from the
            admin</p>
          <% } %>


        </div>
      </div>
    </div>
    <div id="newappoint" style="display:
                                            none;">
      <h1>New Appointments</h1>
      <%
                                                appointments_arr.forEach((appoint)=>{
                                                %>
      <% if(appoint.acceptappointment
                                                    === false) {%>
      <div class="appoint">
        <p>
          Patient Name:
          <%=appoint.patientname%>
        </p>
        <p>
          PatientGender:
          <%=appoint.patientgender%>
        </p>
        <p>
          Patient Age:
          <%=appoint.patientage%>
        </p>
        <p>
          Patient
          Problem:
          <%=appoint.patientproblem%>
        </p>
        <p>
          Appointment
          Date:
          <%=appoint.appointdate
                                                                                %>
        </p>
        <p>
          Appointment
          Time:
          <%=appoint.appointtime
                                                                                    %>
        </p>
        <a href="/accepted/<%=doctor.email%>/<%=appoint._id%>">Accept</a>
        <a href="/rejected/<%=doctor.email%>/<%=appoint._id%>">Reject</a>
      </div>
      <%}%>
                                                                                        <%
                                                                                            })
                                                                                            %>
    </div>
    <div id="pastappoint" style="display:
                                                                                            none;">
      <h1>Past
        Appointments</h1>
      <%
                                                                                                appointments_arr.forEach((appoint)=>{
                                                                                                %>
      <%
                                                                                                    if(appoint.acceptappointment===true){
                                                                                                    %>
      <div class="appoint">
        <p>
          Patient
          Name:<%=appoint.patientname%>
        </p>
        <p>
          Patient
          Gender:
          <%=appoint.patientgender%>
        </p>
        <p>
          Patient
          Age:
          <%=appoint.patientage%>
        </p>
        <p>
          Patient
          Problem:
          <%=appoint.patientproblem%>
        </p>
        <p>
          Appointment
          Date:
          <%=appoint.appointdate
                                                                                                                                %>
        </p>
        <p>
          Appointment
          Time
          <%=appoint.appointtime
                                                                                                                                    %>
        </p>
      </div>
      <%}%>
                                                                                                                                <%
                                                                                                                                    })
                                                                                                                                    %>
    </div>
    <div id="profile" style="display:
                                                                                                                                    none;">
      <h1>Your
        Details</h1>
      <p>Name:<%=
                                                                                                                                            doctor.name
                                                                                                                                            %>
      </p>
      <p>Gender:
        <%=
                                                                                                                                                doctor.gender
                                                                                                                                                %>
      </p>
      <p>Specialization:
        <%=
                                                                                                                                                    doctor.specialization
                                                                                                                                                    %>
      </p>
      <p>Qualification:
        <%=
                                                                                                                                                        doctor.qualification
                                                                                                                                                        %>
      </p>
      <p>Registered
        Email:
        <%=
                                                                                                                                                            doctor.email
                                                                                                                                                            %>
      </p>
      <button onclick="displayform()">Update
        Profile</button>
      <form action="/doc_home" id="update-form" method="post">
        <div class="d-flex">
          <label for="Doc_name">Name:
            <input type="text" id="Doc_name" value="<%=
                                                                                                                                                                        doctor.name
                                                                                                                                                                        %>" placeholder="Name" name="docname" onkeyup="validateName()">
            <span id="error-name"></span>
          </label>
          <label for="Doc_gender">Gender:
            <select name="gender" id="Doc_gender" required>
              <option value="<%=
                                                                                                                                                                            doctor.gender
                                                                                                                                                                            %>" selected>
                <%=
                                                                                                                                                                                doctor.gender
                                                                                                                                                                                %>
              </option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </label>
          <label for="Doc_spec">Specialization
            <select name="specialization" id="Doc_spec" required>
              <option value="<%=
                                                                                                                                                                                doctor.specialization
                                                                                                                                                                                %>" selected>
                <%=
                                                                                                                                                                                    doctor.specialization
                                                                                                                                                                                    %>
              </option>
              <option value="Orthopedics">Orthopedics</option>
              <option value="Internal
                                                                                                                                                                                    Medicine">Internal
                Medicine</option>
              <option value="Obstetrics
                                                                                                                                                                                    and
                                                                                                                                                                                    Gynecology">Obstetrics
                and
                Gynecology</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Pediatrics">Pediatrics</option>
              <option value="Radiology">Radiology</option>
              <option value="General
                                                                                                                                                                                    Surgery">General
                Surgery</option>
              <option value="Ophthalmology">Ophthalmology</option>
              <option value="Family
                                                                                                                                                                                    Medicine">Family
                Medicine</option>
              <option value="Chest
                                                                                                                                                                                    Medicine">Chest
                Medicine</option>
              <option value="Anesthesia">Anesthesia</option>
              <option value="Pathology">Pathology</option>
              <option value="ENT">ENT</option>
              <option value="Other">Other</option>
            </select>
          </label>
          <label for="Doc_Qual">Qualification
            <select name="Qualification" id="Doc_Qual" required>
              <option value="<%=
                                                                                                                                                                                    doctor.qualification
                                                                                                                                                                                    %>">
                <%=
                                                                                                                                                                                        doctor.qualification
                                                                                                                                                                                        %>
              </option>
              <option value="RMP">RMP</option>
              <option value="MBBS">MBBS</option>
              <option value="MS">MS</option>
              <option value="MD">MD</option>
              <option value="Other">Other</option>
            </select>
          </label>
          <label for="doc_email">Email:
            <input type="email" name="docemail" value="<%=
                                                                                                                                                                                    doctor.email
                                                                                                                                                                                    %>" id="Doc_email" placeholder="email" onkeyup="validateEmail()" readonly>
            <span id="error-email"></span>
          </label>
          <label for="doc_password">Password:
            <input type="password" name="docpass" id="Doc_password" placeholder="password" onkeyup="validatePassword()">
            <span id="error-pass"></span>
          </label>
          <label for="cnf_password">Confirm
            Password
            <input type="password" id="Cnf_password" placeholder="confirm
                                                                                                                                                                                    password" onkeyup="validateCnfPassword()">
            <span id="error-cnfpass"></span>
          </label>
          <button type="submit" class="mt-4
                                                                                                                                                                                px-4
                                                                                                                                                                                py-2
                                                                                                                                                                                text-light
                                                                                                                                                                                rounded" id="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>