<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/doc_style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
  <title>Consult a Doctor</title>
</head>

<body>

  <div class="main-container">
    <div class="text-div">
      <h2>Consultation with Qualified Doctors</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia,
        accusantium ad fugiat unde animi nam reprehenderit repellendus error
        mollitia non rem porro repudiandae corporis praesentium facilis natus
        voluptatem, labore numquam?
      </p>
      <a href="#consult-div"><button>Consult Doctor</button></a>
      <a href="/"><button>Home</button></a>
    </div>
    <div class="img-div">
      <img src="./images/backg1crop.jpg" alt="" />
    </div>
  </div>

  <div class="benefits container-fluid bg-dark text-center text-light align-items-center py-5">
    <div class="row">
      <div class="col-sm-3">
        <img src="./images/protection.png" alt="" class="my-5" />
        <h3>100% Confidential</h3>
        <p class="px-2">
          All advice & consultations are completely confidential. You can also
          delete chats whenever you want.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="./images/badge.png" alt="" class="my-5" />
        <h3>Certified Doctors</h3>
        <p class="px-2">
          We offer quality healthcare through our network of certified and
          experienced doctors.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="./images/24-hour-service.png" alt="" class="my-5" />
        <h3>Convenience</h3>
        <p class="px-2">
          Forget the hassle of long queues and rush hour. Seek expert opinion
          anytime, anywhere.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="./images/profits.png" alt="" class="my-5" />
        <h3>Cost Effective</h3>
        <p class="px-2">
          We provide medical assistance on non urgent queries for free. Fee
          starting at ₹50 for faster response to queries.
        </p>
      </div>
    </div>
  </div>
  <div id="consult-div" class="container-fluid bg-light p-5">
    <h2 class="container fw-semibold mb-5">Consult A Doctor</h2>
    <form action="/search" class="container d-flex my-3" id="seach-form">
      <input type="text" name="docname" class="w-50 px-3 py-2 rounded border border-secondary"
        placeholder="Search with doctor's name">
      <button type="submit" class="px-3 py-2 bg-primary border border-none text-light mx-1 rounded">Search</button>
    </form>
    <div class="container my-3">
      <button type="button" onclick="showfilterform()" id="filter-btn"
        class=" bg-primary border border-none border-radius px-3 py-2 text-light rounded">Add Filter</button>
      <button type="button" class="bg-primary border border-none border-radius px-3 py-2 rounded"><a
          class="text-light text-decoration-none" href="/doctor">Remove
          Filters</a></button>
    </div>
    <form action="/filter" id="filter-form" class="container d-none p-2">
      <select name="docspec" id="docspec" class="px-3 py-2" required>
        <option value="" selected>Specialization</option>
        <option value="Orthopedics">Orthopedics</option>
        <option value="Internal Medicine">Internal Medicine</option>
        <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
        <option value="Dermatology">Dermatology</option>
        <option value="Pediatrics">Pediatrics</option>
        <option value="Radiology">Radiology</option>
        <option value="General Surgery">General Surgery</option>
        <option value="Ophthalmology">Ophthalmology</option>
        <option value="Family Medicine">Family Medicine</option>
        <option value="Chest Medicine">Chest Medicine</option>
        <option value="Anesthesia">Anesthesia</option>
        <option value="Pathology">Pathology</option>
        <option value="ENT">ENT</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit" class="bg-primary border border-none text-light p-2">Submit</button>
    </form>
    <!-- <form action="/search" id="search-form">
      <input type="text">
    </form> -->

    <div id="doctors-container" class="container">
      <% if (DoctorDetails.length===0) { %>
        <h1 class="container mx-auto fs-7">No Doctors Found</h1>
        <% } else { %>
          <% DoctorDetails.forEach((doctor)=> { %>
            <div class="doctor-container">
              <img src="./images/img_avatar.png" alt="">
              <h2>
                <%= doctor.name %>
              </h2>
              <p>Gender: <%= doctor.gender %>
              </p>
              <p>Email: <%= doctor.email %>
              </p>
              <p>Specialization: <%= doctor.specialization %>
              </p>
              <p>Qualification: <%= doctor.qualification %>
              </p>
              <a href="./form?name=<%= doctor.name %>|<%= doctor.email %>">Consult</a>
            </div>
            <% }) %>
              <% } %>
    </div>





  </div>
  <script>
    const form = document.querySelector('#filter-form');
    const filterbtn = document.querySelector('#filter-btn');
    function showfilterform() {
      if (form.classList.contains('d-none')) {
        form.classList.remove('d-none');
      }
      else {
        form.classList.add('d-none');
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>